# Data Academy Pro: SQL

Welcome to your SQL Assessment. This notebook will help you connect to our example database and answer the assessment questions.

The example database is structured as follows:

![ERD](erd.png)

You will be asked a series of questions, and will need to craft SQL queries to find the answers.

## Import required libraries

In [1]:
from sqlalchemy import create_engine
import pandas as pd

## Connect to the example database

In [2]:
engine = create_engine('sqlite:///example.db')
conn = engine.connect()
print(engine.table_names())

['agents', 'company', 'customer', 'daysorder', 'despatch', 'foods', 'listofitem', 'orders', 'student', 'studentreport']

## Query the database

In [12]:
query = '''
SELECT "This is where your SQL Queries go"
'''

df = pd.read_sql_query(query,conn)
df

  "This is where your SQL Queries go"
0   This is where your SQL Queries go